COPERNICUS_CLIENT_ID=replace_with_your_client_id
COPERNICUS_CLIENT_SECRET=replace_with_your_client_secret
EVE_SITE_ID=site_004
EVE_START_DATE=2015-07-01
EVE_END_DATE=2026-06-30
EVE_MIN_VALID_PIXEL_RATIO=0.70
